name: Shared java deployment on sonatype

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Gradle dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build Launcher with Gradle
        run: ./gradlew :jar

      - name: Publish shared to Sonatype
        env:
          ossrhUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ossrhPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        run: ./gradlew publish
